@page "/products"
<PageTitle>Products</PageTitle>

<div class="actions">
    <button type="button" class="btn btn-primary">Agregar</button>
</div>
<main class="body">
    <div class="table">
        <div class="header">
            
        </div>
    </div>
</main>
